body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-top: 12.75vh;
  padding-bottom: 11.70vh;
}

@media (prefers-reduced-motion: no-preference) {

}

@media (min-width: 48rem) {
  body{
    padding-top: 0;
    padding-bottom: 0;
  }
  
}