:root {
  --flow-space-title: 2.40vh;
  --flow-space-main: 11.40vh;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  padding-top: 12.75vh;
  padding-bottom: 11.70vh;
}

.main__container {
  width: 82.94vw;
  margin-left: auto;
  margin-right: auto;
}

.flow__title > * + * {
  margin-top: var(--flow-space-title, 1em);
}

.flow__main > * + * {
  margin-top: var(--flow-space-main, 1em);
}

@media (prefers-reduced-motion: no-preference) {

}

@media (min-width: 48rem) {
  body{
    padding-top: 0;
    padding-bottom: 0;
  }
  
}